 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('//images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/f00c68b1473c5eba9576bc03/corporate-business-handshake-partners.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 873px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 333px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 6rem;
  text-transform: uppercase;
  margin: 18px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 197px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 673px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.u-section-2 .u-image-1 {
  min-height: 533px;
  background-image: url("//images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/572af275b87a559d93b354c8/travel-agent-hearing-customer-desires-portrait-good-looking-european-businesswoman-blue-blouse-glasses-holding-hands-pockets-smiling-being-friendl.jpg");
  background-position: 100% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 533px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 2px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 21px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 30px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 30px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-8 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-2 .u-image-1 {
    min-height: 439px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 439px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-2 .u-image-1 {
    min-height: 336px;
    background-position: 77.57% 50%;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-4 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-2 .u-image-1 {
    min-height: 504px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-2 .u-image-1 {
    min-height: 317px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
  }
} .u-section-3 {
  background-image: none;
  min-height: 456px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  grid-auto-rows: 100%;
  width: 1140px;
  margin: 70px auto -4px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 316px;
  grid-gap: 30px;
}

.u-section-3 .u-container-layout-1 {
  padding: 40px 29px 30px;
}

.u-section-3 .u-icon-1 {
  height: 87px;
  width: 87px;
  background-image: none;
  margin: 0 auto;
  padding: 24px;
}

.u-section-3 .u-text-1 {
  margin: 19px auto 0;
}

.u-section-3 .u-text-2 {
  font-style: normal;
  margin: 21px 1px 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 40px 29px 30px;
}

.u-section-3 .u-icon-2 {
  height: 87px;
  width: 87px;
  background-image: none;
  margin: 0 auto;
  padding: 24px;
}

.u-section-3 .u-text-3 {
  letter-spacing: normal;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
  margin: 19px auto 0;
}

.u-section-3 .u-text-4 {
  font-style: normal;
  margin: 21px 1px 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 40px 29px 30px;
}

.u-section-3 .u-icon-3 {
  height: 87px;
  width: 87px;
  background-image: none;
  margin: 0 auto;
  padding: 24px;
}

.u-section-3 .u-text-5 {
  letter-spacing: normal;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
  margin: 19px auto 0;
}

.u-section-3 .u-text-6 {
  font-style: normal;
  margin: 21px 1px 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 438px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    margin-bottom: -22px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 257px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 530px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    margin-bottom: 70px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 635px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 653px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 533px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 25px 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-image-1 {
  min-height: 533px;
  background-image: url("//images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/b3be993ba5cf5b50ad574e39/horizontal-shot-handsome-cheerful-man-looks-happily-away-smiles-broadly-wears-casual-black-t-shirt-isolated-white-background-with-blank-copy-space.jpg");
  background-position: 100% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 439px;
  }

  .u-section-4 .u-image-1 {
    min-height: 439px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    min-height: 336px;
    background-position: 77.39% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 504px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 537px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 440px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 24px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-4 .u-image-1 {
    min-height: 317px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 366px;
}

.u-section-5 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 70px;
  margin-bottom: -197px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 30px));
  min-height: 226px;
  grid-auto-columns: calc(25% - 30px);
  grid-gap: 40px;
}

.u-section-5 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 16px 20px;
}

.u-section-5 .u-image-1 {
  height: 121px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 16px 20px;
}

.u-section-5 .u-image-2 {
  height: 121px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 16px 20px;
}

.u-section-5 .u-image-3 {
  height: 121px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 16px 20px;
}

.u-section-5 .u-image-4 {
  height: 121px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 322px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: -241px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 182px;
  }

  .u-section-5 .u-image-1 {
    height: 96px;
  }

  .u-section-5 .u-image-2 {
    height: 96px;
  }

  .u-section-5 .u-image-3 {
    height: 96px;
  }

  .u-section-5 .u-image-4 {
    height: 96px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 20px));
    grid-auto-columns: calc(50% - 20px);
    min-height: 495px;
  }

  .u-section-5 .u-image-1 {
    height: 158px;
  }

  .u-section-5 .u-image-2 {
    height: 158px;
  }

  .u-section-5 .u-image-3 {
    height: 158px;
  }

  .u-section-5 .u-image-4 {
    height: 158px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 129px;
    width: 222px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 129px;
    width: 222px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 129px;
    width: 222px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-4 {
    height: 129px;
    width: 222px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1100px;
}

.u-section-6 .u-text-1 {
  width: 681px;
  margin: 70px auto 0;
}

.u-section-6 .u-text-2 {
  width: 623px;
  line-height: 1.4;
  margin: 21px auto 0;
}

.u-section-6 .u-gallery-1 {
  height: 745px;
  grid-gap: 17px;
  margin: 40px 0 0;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-text-3 {
  margin: 40px 340px 60px 259px;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 968px;
  }

  .u-section-6 .u-gallery-1 {
    height: 613px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-3 {
    margin-right: 240px;
    margin-left: 159px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1430px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1075px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-6 .u-text-3 {
    margin-right: 130px;
    margin-left: 49px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 3639px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-gallery-1 {
    height: 3284px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2454px;
  }

  .u-section-6 .u-gallery-1 {
    height: 2099px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 782px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 70px auto 0;
}

.u-section-7 .u-text-2 {
  font-size: 0.875rem;
  width: 320px;
  margin: 20px auto 0;
}

.u-section-7 .u-btn-1 {
  padding: 0;
}

.u-section-7 .u-list-1 {
  margin-top: 39px;
  margin-bottom: 60px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 520px;
  grid-gap: 30px;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 29px 30px;
}

.u-section-7 .u-image-1 {
  width: 186px;
  height: 186px;
  margin: 0 auto 0 1px;
}

.u-section-7 .u-group-1 {
  width: 282px;
  min-height: 172px;
  height: auto;
  margin: -186px 0 0 auto;
}

.u-section-7 .u-text-3 {
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-7 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  margin: 22px 126px 0 0;
}

.u-section-7 .u-icon-3 {
  color: rgb(0, 0, 0) !important;
}

.u-section-7 .u-container-layout-3 {
  padding: 29px 30px;
}

.u-section-7 .u-image-2 {
  width: 186px;
  height: 186px;
  margin: 0 auto 0 1px;
}

.u-section-7 .u-group-2 {
  width: 282px;
  min-height: 172px;
  height: auto;
  margin: -186px 0 0 auto;
}

.u-section-7 .u-text-5 {
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-6 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-7 .u-social-icons-2 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  margin: 22px 126px 0 0;
}

.u-section-7 .u-icon-6 {
  color: rgb(0, 0, 0) !important;
}

.u-section-7 .u-container-layout-5 {
  padding: 29px 30px;
}

.u-section-7 .u-image-3 {
  width: 186px;
  height: 186px;
  margin: 0 auto 0 1px;
}

.u-section-7 .u-group-3 {
  width: 282px;
  min-height: 172px;
  height: auto;
  margin: -186px 0 0 auto;
}

.u-section-7 .u-text-7 {
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-8 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-7 .u-social-icons-3 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  margin: 22px 126px 0 0;
}

.u-section-7 .u-icon-9 {
  color: rgb(0, 0, 0) !important;
}

.u-section-7 .u-container-layout-7 {
  padding: 29px 30px;
}

.u-section-7 .u-image-4 {
  width: 186px;
  height: 186px;
  margin: 0 auto 0 1px;
}

.u-section-7 .u-group-4 {
  width: 282px;
  min-height: 172px;
  height: auto;
  margin: -186px 0 0 auto;
}

.u-section-7 .u-text-9 {
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-10 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-7 .u-social-icons-4 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  margin: 22px 126px 0 0;
}

.u-section-7 .u-icon-12 {
  color: rgb(0, 0, 0) !important;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1163px;
  }

  .u-section-7 .u-list-1 {
    margin-bottom: 70px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 902px;
  }

  .u-section-7 .u-image-1 {
    background-position: 50% 50%;
    margin-left: auto;
  }

  .u-section-7 .u-group-1 {
    margin-top: 20px;
    margin-right: auto;
    height: auto;
  }

  .u-section-7 .u-text-3 {
    margin-left: auto;
  }

  .u-section-7 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-social-icons-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-image-2 {
    background-position: 50% 50%;
    margin-left: auto;
  }

  .u-section-7 .u-group-2 {
    margin-top: 20px;
    margin-right: auto;
    height: auto;
  }

  .u-section-7 .u-text-5 {
    margin-left: auto;
  }

  .u-section-7 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-social-icons-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-image-3 {
    background-position: 50% 50%;
    margin-left: auto;
  }

  .u-section-7 .u-group-3 {
    margin-top: 20px;
    margin-right: auto;
    height: auto;
  }

  .u-section-7 .u-text-7 {
    margin-left: auto;
  }

  .u-section-7 .u-text-8 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-social-icons-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-image-4 {
    background-position: 50% 50%;
    margin-left: auto;
  }

  .u-section-7 .u-group-4 {
    margin-top: 20px;
    margin-right: auto;
    height: auto;
  }

  .u-section-7 .u-text-9 {
    margin-left: auto;
  }

  .u-section-7 .u-text-10 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-social-icons-4 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 760px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 570px;
  margin: 70px auto 0;
}

.u-section-8 .u-list-1 {
  margin-top: 30px;
  margin-bottom: -137px;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 26.6667px));
  min-height: 511px;
  grid-gap: 40px;
}

.u-section-8 .u-list-item-1 {
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-8 .u-group-1 {
  min-height: 232px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 32px auto 0;
}

.u-section-8 .u-text-4 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-8 .u-text-5 {
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  width: 103px;
  margin: 20px auto 0;
}

.u-section-8 .u-btn-1 {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  background-image: none;
  margin: 32px auto 0;
  padding: 19px 41px 20px 40px;
}

.u-section-8 .u-list-item-2 {
  background-image: none;
}

.u-section-8 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-8 .u-group-2 {
  min-height: 232px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-text-6 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-8 .u-text-7 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 32px auto 0;
}

.u-section-8 .u-text-8 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-8 .u-text-9 {
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  width: 103px;
  margin: 20px auto 0;
}

.u-section-8 .u-btn-2 {
  font-size: 1.125rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  margin: 32px auto 0;
  padding: 19px 41px 20px 40px;
}

.u-section-8 .u-list-item-3 {
  background-image: none;
}

.u-section-8 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-8 .u-group-3 {
  min-height: 232px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-6 {
  padding: 30px;
}

.u-section-8 .u-text-10 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-8 .u-text-11 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 32px auto 0;
}

.u-section-8 .u-text-12 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-8 .u-text-13 {
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  width: 103px;
  margin: 20px auto 0;
}

.u-section-8 .u-btn-3 {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  background-image: none;
  margin: 32px auto 0;
  padding: 19px 41px 20px 40px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 26.666700000000002px));
    min-height: 414px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1310px;
  }

  .u-section-8 .u-list-1 {
    margin-bottom: -67px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 20.000025px));
    min-height: 1022px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1861px;
  }

  .u-section-8 .u-text-1 {
    width: 540px;
  }

  .u-section-8 .u-list-1 {
    margin-bottom: 3px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 827px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-8 .u-list-1 {
    margin-bottom: 70px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 456px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: -14px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 316px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-9 .u-icon-1 {
  width: 48px;
  height: 48px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-9 .u-text-2 {
  font-weight: 400;
  margin: 14px 0 0;
}

.u-section-9 .u-text-3 {
  margin: 14px auto 0 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 316px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-9 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 316px;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px;
}

.u-section-9 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-9 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 30px auto 0 0;
}

.u-section-9 .u-icon-2 {
  height: 100%;
}

.u-section-9 .u-icon-3 {
  height: 100%;
}

.u-section-9 .u-icon-4 {
  height: 100%;
}

.u-section-9 .u-text-7 {
  margin: 112px 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: 70px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 261px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 261px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 261px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 977px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 69px;
    margin-bottom: 60px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-9 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-text-3 {
    margin-left: auto;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-text-5 {
    width: auto;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-social-icons-1 {
    margin-left: auto;
  }

  .u-section-9 .u-text-7 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
  }
}